<header id="site-nav sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="index.html" class="navbar-brand brand-wrap" aria-label="Home">
                    <img src="assets/img/logo.png" alt="Brand Logo" class="brand-logo">
                    <span class="brand-name">Madison Exterior Co.</span>
                </a>
                <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#mainMenu"
                aria-controls="mainMenu"
                aria-label="Open menu"
                >
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto align-item-lg-center gap-lg-2">
                    <li class="nav-item"><a href="index.html" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
                    <li class="nav-item"><a href="testimonials.html" class="nav-link">Testimonials</a></li>
                    <li class="nav-item"><a href="locations.html" class="nav-link">Locations</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item ms-lg-2">
                        <a class="btn btn-brand" href="contact.html">Free Estimate</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="mainMenu" aria-labelledby="mainMenuLabel">
            <div class="offcanvas-header">
                <div class="brand-wrap">
                    <img src="assets/img/logo.png" alt="Brand Logo" class="brand-logo">
                    <h5 class="off-canvas-title mb-0" id="mainMenuLabel">Menu</h5>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-grid gap-2">
                    <a class="btn btn-brand" href="contact.html">Free Estimate</a>
                    <a class="btn btn-ghost" href="tel:6083454883">Call Now!</a>
                </div>
                <hr class="my-4">
                <div class="list-group list-group-flush">
                    <a href="index.html" class="list-group-item list-group-item-action">Home</a>
                    <a href="about.html" class="list-group-item list-group-item-action">About</a>
                    <a href="services.html" class="list-group-item list-group-item-action">Services</a>
                    <a href="gallery.html" class="list-group-item list-group-item-action">Gallery</a>
                    <a href="testimonials.html" class="list-group-item list-group-item-action">Testimonials</a>
                    <a href="locations.html" class="list-group-item list-group-item-action">Locations</a>
                    <a href="contact.html" class="list-group-item list-group-item-action">Contact</a>
                </div>
            </div>
        </div>
    </header>